/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --bg-color: hsl(220, 18%, 78%);
  --bg-color-light: hsl(220, 18%, 86%);
  --title-color: hsl(220, 8%, 10%);
  --text-color: hsl(220, 4%, 32%);
  --text-color-light: hsl(220, 4%, 55%);
  --body-color: hsl(220, 18%, 99%);
  --container-color: hsl(220, 18%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Lora', serif;

  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1124px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s; /*For animation dark mode*/
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme{
  --bg-color: hsl(220, 18%, 13%);
  --bg-color-light: hsl(220, 18%, 23%);
  --title-color: hsl(220, 8%, 95%);
  --text-color: hsl(220, 8%, 65%);
  --body-color: hsl(220, 18%, 18%);
  --container-color: hsl(220, 18%, 21%);
}

/*========== Button Dark/Light ==========*/
.user__cart__theme{
  color: var(--title-color);
  font-size: 1.125rem;
  cursor: pointer;
}

/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/
.dark-theme .scroll-header{
  box-shadow: 0 2px 8px hsla(220, 18%, 8%, .3);
}
.dark-theme .nav__menu{
  color: var(--container-color);
}
.dark-theme .active-link{
  color: var(--title-color);
}
.dark-theme .nav__menu,
.dark-theme .scrollup{
  box-shadow: 0 4px 8px hsla(220, 18%, 30%, .3);
}
.dark-theme::-webkit-scrollbar{
  background-color: hsl(220, 18%, 15%);
}
.dark-theme::-webkit-scrollbar-thumb{
  background-color: hsl(220, 18%, 25%);
}
.dark-theme::-webkit-scrollbar-thumb:hover{
  background-color: hsl(220, 18%, 35%);
}
.dark-theme .footer__copy a{
  color: var(--title-color);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 3rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: .4s;
}
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo,
.nav__cart,
.nav__user{
  color: var(--title-color);
  font-weight: var(--font-medium);
}

@media screen and (max-width: 1023px){
  .nav__menu{
    position: fixed;
    bottom: 1rem;
    background-color: var(--body-color);
    box-shadow: 0 4px 12px hsl(220, 18%, 40%, .15);
    width: 90%;
    left: 0;right: 0;
    margin: 0 auto;
    padding: 1.25rem 2.8rem;
    border-radius: .5rem;
    transition: .4s; /*For animation dark mode*/
  }
  .nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__list li a span{
    display: block;
  }
  .nav__link{
    color: var(--text-color);
    font-weight: var(--font-medium);
    display: grid;
    justify-items: center;
    row-gap: .25rem;
  }
  .nav__link i{
    font-size: 1.25rem;
  }
  .nav__link span{
    font-size: 0.688rem;
  }
  .nav__cart,
  .nav__user{
    margin-right: 0.3rem;
    cursor: pointer;
  }
}
/* Change background header */
.scroll-header{
  background-color: var(--bg-color);
  box-shadow: 0 1px 4px hsl(220, 4%, 15%, .1);
}

/* Active link */
.active-link{
  color: var(--bg-color-light);
}

/*=============== HOME ===============*/
.home{
  background-color: var(--bg-color);
  overflow: hidden;
  transition: .4s; /*For animation dark mode*/
}
.home__container{
  padding: 4rem 0rem 1rem;
  row-gap: 8.5rem;
}
.home__title{
  font-size: var(--biggest-font-size);
  font-weight: 400;
}
.home__description{
  color: var(--title-color);
  margin: 1rem 0rem 2rem;
}
.home__title,
.home__description{
  line-height: 140%;
}
.home__image{
  position: relative;
  width: 310px;
  justify-self: center;
}
.home__image img:nth-child(1){
  width: 224px;
  position: absolute;
  right: -1.5rem;
  top: -9.5rem;
}
.home__image img:nth-child(2){
  width: 188px;
  margin-left: 0.5rem;
  position: relative;
}

/*=============== BUTTON ===============*/
.button__link{
  color: var(--title-color);
  font-weight: var(--font-medium);
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}
.button__link i{
  font-size: 1rem;
  transition: .3s;
}
.button__link:hover i{
  transform: translateX(.25rem);
}

/*=============== NEW ===============*/
.new__container{
  row-gap: 2.5rem;
  padding-bottom: 1.54rem;
}
.new__card{
  justify-self: center;
}
.new__img{
  width: 270px;
  margin-bottom: 1rem;
}
.new__link{
  display: flex;
  align-items: center;justify-content: space-between;
  color: var(--title-color);
  padding-right: 0.75rem;
}
.new__link i{
  font-size: 1.2rem;
  transition: .3s;
}
.new__link:hover i{
  transform: translateX(.25rem);
}
.new__title{
  font-size: var(--h2-font-size);
  margin-bottom: 0.5rem;
}
.new__subtitle{
  font-size: var(--smaller-font-size);
  color: var(--text-color);
}

/*=============== COLLECTION ===============*/
.collection{
  background-color: var(--bg-color-light);
  overflow: hidden;
  transition: .4s; /*For animation dark mode*/
}
.collection__container{
  position: relative;
  height: 571px;
  display: grid;
  justify-items: center;
}
.collection__explore img{
  width: 320px;
}
.collection__title{
  font-size: var(--h1-font-size);
  margin-bottom: .75rem;
}
.collection__explore{
  display: grid;
  column-gap: 2rem;
  position: absolute;
}
.collection__explore:nth-child(2){
  grid-template-columns: 230px max-content;
  bottom: 1rem;
  margin-right: 5rem;
}
.collection__explore:nth-child(1){
  grid-template-columns: max-content 230px;
  top: 0;
  margin-left: 5rem;
}
.collection__data__men{
  margin-top: 2.5rem;
}
.collection__data__women{
  align-self: flex-end;
  margin-bottom: 2.5rem;
}

/*=============== PRODUCTS ===============*/
.product__container{
  padding-bottom: 5rem;
}
.product__card{
  width: 270px;
}
.product__img{
  margin-bottom: 1rem;
}
.product__title{
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}
.product__price{
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.product__cart{
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}
.cart{
  color: var(--title-color);
  font-size: .98rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--bg-color);
  margin-top: -.4rem;
  border-radius: .5rem;
}
.cart i{
  font-size: .95rem;
  margin-left: 0.2rem;
  transition: .4s;
}
.cart:hover i{
  transform: translateX(.25rem);
}

/* Swiper class */
.swiper-button-prev::after,
.swiper-button-next::after{
  content: '';
}
.swiper-button-prev,
.swiper-button-next{
  top: initial;
  bottom: 0;
  width: initial;
  height: initial;
  font-size: 1.5rem;
  color: var(--title-color);
  padding: 0.3rem;
  background-color: var(--bg-color);
  border-radius: 50%;
}
.swiper-button-prev{
  left: calc(50% - 2rem);
}
.swiper-button-next{
  right: calc(50% - 3rem);
}

/*=============== BRANDS ===============*/
.brand__container{
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  column-gap: 1.25rem;
}
.brand__img{
  width: 120px;
}
.brand__img:nth-child(even){
  margin-top: 2rem;
}

/*=============== FOOTER ===============*/
.footer__container{
  row-gap: 3rem;
}
.footer__logo{
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  display: inline-block;
  margin-bottom: .75rem;
}
.footer__content,
.footer__list{
  display: grid;
}
.footer__content{
  grid-template-columns: repeat(2, max-content);
  gap: 3.5rem 3rem;
}
.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: 1.25rem;
}
.footer__list{
  row-gap: .75rem;
}
.footer__link,
.footer__description{
  font-size: var(--small-font-size);
}
.footer__link{
  color: var(--text-color);
  transition: .3s;
}
.footer__link:hover{
  text-decoration: underline;
  color: var(--title-color);
}
.footer__social-link{
  display: flex;
  column-gap: .5rem;
}
.footer__social-link a{
  color: var(--title-color);
  display: inline-flex;
  font-size: 1.3rem;
  padding: 0.4rem;
  background-color: var(--container-color);
  transition: background-color .3s;
  border-radius: 50%;
}
.footer__social-link a:hover{
  background-color: var(--bg-color-light);
  border-radius: 50%;
}
.footer__info{
  margin-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
  align-items: center;
}
.footer__copy,
.footer__privacy{
  color: var(--text-color);
  font-size: var(--smaller-font-size);
}
.footer__copy a{
  color: var(--bg-color);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: 0.6rem;
  border-radius: .5rem;
  background-color: hsl(220, 8%, 76%);
}
::-webkit-scrollbar-thumb{
  background-color: hsl(220, 8%, 64%);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
  background-color: hsl(220, 8%, 54%);
}
::selection{
  background-color: hsl(220, 5%, 45%);
}

/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--container-color);
  box-shadow: 0 8px 12px hsla(220, 18%, 45%, .15);
  display: inline-flex;
  padding: 0.35rem;
  color: var(--title-color);
  font-size: 1.2rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  border-radius: 50%;
}
.scrollup:hover{
  transform: translateY(-.25rem);
}

/* Show Scroll Up*/
.show-scroll{
  bottom: 7.5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px){
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .nav__menu{
    padding: 1rem 1.5rem;
  }
  .home__container{
    padding: 2rem 0rem 1rem;
    row-gap: 6rem;
  }
  .home__description{
    font-size: var(--small-font-size);
  }
  .home__image{
    width: 248px;
  }
  .home__image img:nth-child(1){
    width: 180px;
    top: -7rem;
  }
  .home__image img:nth-child(2){
    width: 150px;
  }
  .new__img{
    width: 230px;
  }
  .new__link{
    padding-right: 0;
  }
  .collection__container{
    height: initial;
    row-gap: 3rem;
  }
  .collection__explore:nth-child(1),
  .collection__explore:nth-child(2){
    position: initial;
    grid-template-columns: 230px;
    row-gap: 2rem;
    margin: 0;
  }
  .collection__data__men{
    margin: 0;
  }
  .collection__data__women{
    margin: 0;
  }
  .product__card{
    width: 230px;
  }
  .brand__container{
    grid-template-columns: repeat(2, 100px);
    row-gap: .5rem;
  }
  .footer__content{
    grid-template-columns: max-content;
    row-gap: 2rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px){
  .nav__menu{
    width: 342px;
  }
  .footer__content{
    grid-template-columns: repeat(3, max-content);
  }
}
@media screen and (min-width: 767px){
  .home__container,
  .new__container{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
  }
  .home__image{
    margin-top: 6rem;
  }
  .brand__container{
    grid-template-columns: repeat(4, max-content);
  }
  .footer__container{
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
}
/* For large devices */
@media screen and (min-width: 1023px){
  section{
    padding: 7rem 0 1rem;
  }
  .section__title{
    margin-bottom: 4rem;
  }
  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__logo{
    font-size: 2.4rem;
  }
  .nav__menu{
    width: initial;
    margin-left: auto;
  }
  .nav__list{
    display: flex;
    column-gap: 3rem;
  }
  .nav__link{
    font-size: 1.4rem;
    color: var(--text-color);
  }
  .nav__link i{
    display: none;
  }
  .nav__link:hover{
    color: var(--title-color);
  }
  .user__cart__theme{
    margin-left: 5.5rem;
  }
  .active-link{
    color: var(--title-color);
    text-decoration: line-through;
  }

  .nav__cart,
  .nav__user,
  .change-theme{
    font-size: 1.7rem;
    font-weight: var(--font-medium);
    color: var(--text-color);
  }
  .nav__cart,
  .nav__user{
    margin-right: .8rem;
  }

  .dark-theme .nav__menu{
    background-color: transparent;
    box-shadow: none;
  }
  .product__container{
    width: 954px;
  }
  .footer__content{
    grid-template-columns: repeat(4, max-content);
    column-gap: 5.5rem;
  }
  .footer__link{
    font-size: var(--normal-font-size);
  }
  .footer__info{
    flex-direction: row;
    column-gap: 1rem;
    justify-content: center;
    padding-bottom: 2rem;
  }
  .footer__copy,
  .footer__privacy{
    font-size: var(--normal-font-size);
  }
}
@media screen and (min-width: 1055px){
  .container{
    margin: 0 auto;
  }
  .footer__info{
    margin-top: 3rem;
  }
}

@media screen and (min-width: 1124px){
  .home__container{
    padding: 10rem 0 3rem;
    column-gap: 0;
  }
  .home__image{
    width: 500px;
    margin-top: 8rem;
    transform: translate(-1rem);
  }
  .home__image img:nth-child(1){
    width: 345px;
    top: -14.5rem;
  }
  .home__image img:nth-child(2){
    width: 277px;
  }
  .new__container{
    grid-template-columns: repeat(3, max-content);
    column-gap: 5rem; 
    padding-bottom: 4.5rem;
  }
  .new__img{
    margin-bottom: 1.25rem;
  }
  .new__title{
    font-size: var(--h3-font-size);
  }
  .collection__container{
    height: 760px;
    margin-bottom: 2rem;
  }
  .collection__explore:nth-child(1){
    grid-template-columns: max-content 330px;
    margin-left: 10rem;
  }
  .collection__explore:nth-child(2){
    grid-template-columns: 330px max-content;
    margin-right: 10rem;
  }
  .collection__explore{
    column-gap: 5rem;
  }
  .product__container{
    padding-bottom: 7rem;
  }
  .brand__container{
    column-gap: 5.5rem;
  }
  .brand__img{
    width: 150px;
  }
  .scrollup{
    right: 3rem;
  }
  .show-scroll{
    bottom: 1rem;
  }
  .footer__copy,
  .footer__privacy{
    margin-top: 2rem;
    font-size: 1.5rem;
  }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px){
  body{
    zoom: 1.9;
  }
}
@media screen and (min-width: 2140px){
  body{
    zoom: 2;
  }
}

/* For 4K resolutions (3840 x 2160, 4096 x 2160) */
@media screen and (min-width: 3840px){
  body{
    zoom: 3.3;
  }
}
